<!-- <div class = 'container'>
	<h1>heder  area</h1>


  <div class='main'>
	  <div>side bar</div>
	  <div>fottrer area</div>
  </div>

</div> 
 -->


<!-- <div class="container">
	<p>use class atribute in div tag</p>

<div style="border:1px solid #f00">
<p>use style atribute in div class</p>
</div>

<div style="border:1px solid #f00">
<p>Basically div layout designed by CSS</p>

</div>
</div> -->




<!-- <div style="float:left;background:yellow;width:100%;">
<ul>
<li>item1</li>
<li>item 2</li>
</ul>
</div>

<div style="border:1px solid #f00; float:left ;width:48% ">
<h1>HTML div tutorial in Webcoachbd</h1>
</div>

<div style="background:#000;width:100%;float:left;color:#fff;text-align:center;">
</div> -->

<!-- 
<input type="checkbox"> -->


<!-- <dl>
    <dt>Green</dt>
    <dd>Green It Care</dd>
    <dt>White</dt>
    <dd>Yellow</dd>
</dl> -->



<!-- <nav>
     <a href="https://kivabe.com">Home</a>
     <a href="https://kivabe.com/contact-us/">Contact Us</a>
     <a href="https://kivabe.com/about-us/">About Us</a> 
</nav>

<nav>
 <ul>
   <li><a href="https://kivabe.com">Home</a></li>
   <li><a href="https://kivabe.com/contact-us/">Contact Us</a></li>
   <li><a href="https://kivabe.com/about-us/">About Us</a></li>
 </ul>
</nav>

<u>hello</u>

<article>
<span style="color: #0000ff;"><hr></span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <h2>This is a HTML hr tag...!</h2>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <p> Use for HTML hr tag.... </p>
<span style="color: #0000ff;"><hr></span>
</article> -->

<!-- <ol start="2">
	<li>hello</li>
	<li>hello</li>
	<li>hello</li>
	<li>hello</li>
</ol>

<ul>
	<li>hello</li>
	<li>hello</li>
	<li>hello</li>
	<li>hello</li>
</ul> -->