<!-- <div class = 'container'>
	<h1>heder  area</h1>


  <div class='main'>
	  <div>side bar</div>
	  <div>fottrer area</div>
  </div>

</div> 
 -->


<!-- <div class="container">
	<p>use class atribute in div tag</p>

<div style="border:1px solid #f00">
<p>use style atribute in div class</p>
</div>

<div style="border:1px solid #f00">
<p>Basically div layout designed by CSS</p>

</div>
</div> -->




<!-- <div style="float:left;background:yellow;width:100%;">
<ul>
<li>item1</li>
<li>item 2</li>
</ul>
</div>

<div style="border:1px solid #f00; float:left ;width:48% ">
<h1>HTML div tutorial in Webcoachbd</h1>
</div>

<div style="background:#000;width:100%;float:left;color:#fff;text-align:center;">
</div>