{% load static %}

<head>
<!-- <link href="{% static 'css/cool.css' %}" rel="stylesheet"> -->
</head>


<!-- <h2>i am mahmud</h2> -->

<p id='a'></p>
<script src="{% static 'js/z Pactyics.js.js' %}"></script>



<script src="{% static 'js/arrayBasic.js' %}"></script>
<script src="{% static 'js/arrayes6Methods.js' %}"></script>
<script src="{% static 'js/ArrowFunction.js' %}"></script>
<script src="{% static 'js/arrayes6Methods.js' %}"></script>
<script src="{% static 'js/asychonusFunction.js' %}"></script>
<script src="{% static 'js/callbackFunction.js' %}"></script>
<script src="{% static 'js/CallBindApply method.js' %}"></script>
<script src="{% static 'js/defaultParameter.js' %}"></script>
<script src="{% static 'js/distructuring.js' %}"></script>
<script src="{% static 'js/Dot or Braket notation.js' %}"></script>
<script src="{% static 'js/FirstclassHigherorderFunction.js' %}"></script>
<script src="{% static 'js/function Lexicalscope.js' %}"></script>
<script src="{% static 'js/function Scope.js' %}"></script>
<script src="{% static 'js/functionBasic.js' %}"></script>
<script src="{% static 'js/functionClosures.js' %}"></script>
<script src="{% static 'js/functionHoinsting.js' %}"></script>
<script src="{% static 'js/functionInvoke or animonus.js' %}"></script>
<script src="{% static 'js/inheretance.js' %}"></script>
<script src="{% static 'js/objectBasic.js' %}"></script>
<script src="{% static 'js/objectes6Method.js' %}"></script>
<script src="{% static 'js/promise.js' %}"></script>
<script src="{% static 'js/restParameter.js' %}"></script>
<script src="{% static 'js/setTimefunction.js' %}"></script>
<script src="{% static 'js/spreadOperator.js' %}"></script>
<script src="{% static 'js/statement and expression.js' %}"></script>
<script src="{% static 'js/templateString.js' %}"></script>
<script src="{% static 'js/ternaryOparetor.js' %}"></script>
<script src="{% static 'js/this key.js' %}"></script>