{% load static %}

<head>
<!-- <link href="{% static 'css/cool.css' %}" rel="stylesheet"> -->
</head>


<!-- <h2>i am mahmud</h2> -->

<p id='a'></p>
<script src="{% static 'js/zPactics.js' %}"></script>



<script src="{% static 'js/arrayBasic.js' %}"></script>
<script src="{% static 'js/arrayes6Methods.js' %}"></script>
<script src="{% static 'js/ArrowFunction.js' %}"></script>
<script src="{% static 'js/arrayes6Methods.js' %}"></script>
<script src="{% static 'js/asychonusFunction.js' %}"></script>
<script src="{% static 'js/callbackFunction.js' %}"></script>
<script src="{% static 'js/CallBindApplymethod.js' %}"></script>
<script src="{% static 'js/defaultParameter.js' %}"></script>
<script src="{% static 'js/distructuring.js' %}"></script>
<script src="{% static 'js/DotAndBraketNotation.js' %}"></script>
<script src="{% static 'js/FirstclassHigherorderFunction.js'%}"></script>
<script src="{% static 'js/functionLexicalscope.js' %}"></script>
<script src="{% static 'js/functionScope.js' %}"></script>
<script src="{% static 'js/functionBasic.js' %}"></script>
<script src="{% static 'js/functionClosures.js' %}"></script>
<script src="{% static 'js/funcrtionConstructorandNewkey.js' %}"></script>
<script src="{% static 'js/functionHoinsting.js' %}"></script>
<script src="{% static 'js/functionInvokeoranimonus.js' %}"></script>
<script src="{% static 'js/inheretance.js' %}"></script>
<script src="{% static 'js/objectBasic.js' %}"></script>
<script src="{% static 'js/objectes6Method.js' %}"></script>
<script src="{% static 'js/errorHandelTryCatch.js' %}"></script>
<script src="{% static 'js/promise.js' %}"></script>
<script src="{% static 'js/asyncawaitorcallBackHell.js' %}"></script>
<script src="{% static 'js/restParameter.js' %}"></script>
<script src="{% static 'js/setTimeOutfunction.js' %}"></script>
<script src="{% static 'js/spreadOperator.js' %}"></script>
<script src="{% static 'js/statementandexpression.js' %}"></script>
<script src="{% static 'js/templateString.js' %}"></script>
<script src="{% static 'js/ternaryOparetor.js' %}"></script>
<script src="{% static 'js/thiskey.js' %}"></script>