{% load static %}

<head>
<link href="{% static 'css/cool.css' %}" rel="stylesheet">
</head>


<h2>i am mahmud</h2>
<!-- <a href="/home/">home</a> .....<a href="/">lol</a> -->
<!-- <h1><a href="{% url 'home' %}">home</a></h1>
<h1><a href="{% url 'lol' %}">lol</a></h1> -->
<!-- হচ্ছে ভিন্ন কোনো সার্ভার এর যেকোনো পেজ এর সাথে লিংকআপ করা। যেমন :  -->
<!-- <h1><a href='https://www.w3schools.com/html/html_intro.asp'>Go Test Page</a> </h1> -->
<p id='test'></p>

<script src="{% static 'js/cool2.js' %}"></script>

